.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.1em;
}

#HeaderBox {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  min-width: 100vw;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: nowrap;
}

#HeaderBox h4 {
  margin: 0 1em;
  padding: 0.15em;
  cursor: pointer;
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

.headerFocus {
  background-color: white;
  color: #282c34;
  border-radius: 7px;
}

.headerBlur {
  background-color: #282c34;
  color: white;
  border-radius: 7px;
}

#EntryText {
 margin-top: 10vh;
}

#EntryText h1 {
  color: rgb(187, 59, 81);
  margin-bottom: 8vh;
}

.frontbutton {
  border: none;
  background:#282c34;
  color: white;
  cursor: pointer;
  height: 6vh;
  min-width: 11vw;
  box-shadow: inset 0 -0.4vh 0 0 rgb(187, 59, 81);
  transition: ease-in-out 0.2s;
  font-size: 0.8em;
  margin: 1vw;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
}

.frontbutton:hover {
  box-shadow: inset 0 -6vh 0 0 rgb(187, 59, 81);
    border-radius: 3px;
}

.App-link {
  color: #61dafb;
}

#projects {
  display: none;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: opacity 1s;
}

.ProjectNode {
  color: #282c34;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin: 1vw;
  padding: 0.5vw;
  height: 24vh;
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.ProjectNode::before {
  content: "Preview";
  font-size: 0.9em;
  text-decoration: underline;
  padding: auto 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: rgb(187, 59, 81);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 7px 0px 0px 7px;
  transition: width .5s ease-in, color .5s ease-in 0.25s;
}

.ProjectNode:hover::before {
  width: 0%;
  content: "";
  color: rgba(255, 255, 255, 0);
}

.gifImage {
  width: 28vh;
  height: 24vh;
  display: inline;
  transition: height 0.3s ease-in, width 0.3s ease-in;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  margin: 0;
}

.ProjectNode div {
  display: inline;
  max-width: 16vw;
  max-height: 24vh;
  margin: 0;
}

.ProjectNode h6 {
  margin: 0;
  font-size: 0.9em;
}

.ProjectNode a {
  font-size: 0.7em;
  text-align: right;
}

#home {
  display: block;
}

#contact {
  display: none;
 
}

#contact h1 {
  color: rgb(187, 59, 81);
}

.formLines {
  color: white;
  background: #282c34;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  border-style: solid;
  margin-top: 2.4vh;
}

#contactButton {
  border: none;
  background:#282c34;
  color: white;
  cursor: pointer;
  min-height: 6vh;
  min-width: 12vw;
  box-shadow: inset 0 -0.3vh 0 0 rgb(187, 59, 81);
  transition: ease-in-out 0.25s;
  font-size: 0.9em;
}

#contactButton:hover {
  box-shadow: inset 0 -6vh 0 0 rgb(187, 59, 81);
    border-radius: 3px;
}

#contact form {
  width: 25vw;
  margin: auto;
  border-radius: 7px;
  padding: 1.5vh 0;
  text-align: center;
}

textarea {
  margin: 1vh 0;
}

@media only screen and (max-width: 600px) {
 #HeaderBox {
  margin-bottom: 2vh;
 }

  #projects {
  overflow-x: hidden;
  }

  .ProjectNode {
    height: 28vh;
    width: 68vw;
    margin-top: 4vh;
  }

  .gifImage {
    height: 24vh;
    width: 32vh;
  }
}
